*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

body .header {
    display: flex; 
    max-width: 95%;
    margin: 0 auto;
    padding: 10px;
    position: sticky;
    top: 0px;
    background: #525252;
    z-index: 1;
}

body .header .logoText a {
    color: orange;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
}

/*Logo text hovering feature*/
body .header .logoText a:hover {
    color: rgb(234, 92, 4);
    transition-duration: 1s;
}

body .header .nav{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
}

/*Search bar styling*/
body .header .nav .searchArea input{
    height: 42px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid #cecfd1;
    padding: 0 20px;
    position:absolute;
    left:30%;
    top:20%;
}
/*Search logo styling*/
body .header .nav .searchArea .searchLogo{
    width: 5%;
    height: 35%;
    border-radius: 5px;
    padding: 0 20px;
    position: absolute;
    left:56%;
    top:40%;
}

body .header .nav .natigations{
    padding: 10px 0;
}

body .header .nav .natigations a{
    color: orange;
    margin: 0 20px;
    padding: 10px 0;
    text-decoration: none;
    position: relative;
}

body .header .nav .natigations a:hover{
    color: rgb(234, 92, 4);
}

body .header .nav .natigations a::after{
    content: '';
    position: absolute;
    width: 2px;
    right: -18px;
    height: 100%;
    top: 0px;
    display: inline-block;
}


.img-slider img {
    height: 720px;
    width: 1080px;
}

@keyframes slide {
    0% {
      left: 0px;
    }
    15% {
      left: 0px;
    }
    20% {
      left: -1080px;
    }
    32% {
      left: -1080px;
    }
    35% {
      left: -2160px;
    }
    47% {
      left: -2160px;
    }
    50% {
      left: -3240px;
    }
    63% {
      left: -3240px;
    }
    66% {
      left: -4320px;
    }
    79% {
      left: -4320px;
    }
    82% {
      left: -5400px;
    }
    100% {
      left: 0px;
    }
}
.img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 1080px;
    height: 720px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
}
.section1 {
    width: 1080px;
    overflow: hidden;
  
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.section2 .container {
    display: flex;
    width: 60%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
}
.section2 .container .items {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 2.5px solid black;
    border-radius: 12px;
}
.section2 .container .items .name {
    text-align: center;
    background-color: rgb(240, 197, 6);
    height: 25px;
    padding-top: 4px;
    color: white;
    margin: 0;
}
.section2 .container .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: rgb(255, 0, 0);
    font-weight: 650;
}
.section2 .container .items .info {
    padding-left: 10px;
    color: rgb(243, 168, 7);
}
.section2 .container .items .img img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 12px;
    transition-duration: 0.8s;
}
.section2 .container .items .img {
    overflow: hidden;
    margin: 0;
}
.section2 .container .items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
}

  
@media screen and (max-width: 1250px) {
    .img-slider img {
      height: 60vw;
      width: 60vw;
    }
    
    @keyframes slide1 {
      0% {
        left: 0vw;
      }
      15% {
        left: 0vw;
      }
      20% {
        left: -80vw;
      }
      32% {
        left: -80vw;
      }
      35% {
        left: -160vw;
      }
      47% {
        left: -160vw;
      }
      50% {
        left: -240vw;
      }
      63% {
        left: -240vw;
      }
      66% {
        left: -320vw;
      }
      79% {
        left: -320vw;
      }
      82% {
        left: -400vw;
      }
      100% {
        left: 0vw;
      }
    }
    
    .img-slider {
      display: flex;
      float: left;
      position: relative;
      width: 80%;
      height: 60%;
      animation-name: slide1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      transition-duration: 2s;
    }
    .section1 {
      width: 50%;
      overflow: hidden;
  
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }
}

/*Footer styling*/
footer {
    display: flex;
    flex-direction: column;
    background: #525252;
    max-width: 95%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    color: white;
  }
  /*Footer Logo styling*/
  .footer0 {
    color: orange;
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: rgb(243, 92, 4);
  }
  /*Footer services styling*/
  .footer1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer1 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer1 .heading:hover {
    color: rgb(234, 92, 4);
  }
  .footer1 .div:hover {
    transform: scale(1.05);
  }
  .footer1 div {
    margin: 10px;
  }

  .form_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
